*{
    margin: 0;
    line-height: 220%;
}

section{
    width: 50%;
    margin: auto;
    border: 2px solid grey;
}

header section{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: 2px solid grey;
    margin-bottom: 50px;
    background: white;
}
ul{
    border: 5px black;
}

h1{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.tim{
    border-radius: 50%;
    padding: 10px;
    height: 125px;
}

    .link{
        margin-bottom: 20px;
    }